.tile {
  width: 8rem;
  /* max-width: 8rem; */
  /* height: 8rem; */
  padding: 1rem 0.5rem;
  background: var(--clr-3);
  border-radius: 2rem;
  transition: rotate 0.5s;
  cursor: pointer;
  text-align: center;
  font-size: 1.2rem;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.7);
}

.tile:hover {
  rotate: 3deg;
}
