:root {
  --clr-1: #4854a3;
  --clr-2: #2a3370;
  --clr-3: #74b5d6;
  --clr-4: #dbc0ad;
  --clr-5: #a35336;
  --clr-6: #a32217;
}

* {
  box-sizing: border-box;
}

html {
  background: linear-gradient(var(--clr-1), var(--clr-2));
  background-attachment: fixed;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  /* register page with smaller width needs it */
  /* overflow: hidden; */
}

.container {
  min-height: 50vh;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  /* border: solid 1px var(--clr-4); */
  display: grid;
  grid-template-columns: auto;
  gap: 0 2rem;
}

.mainpage-link {
  height: fit-content;
  text-decoration: none;
  font-weight: 600;
  display: block;
  color: #fff;
  border-radius: 2rem;
  cursor: pointer;
  box-shadow: 0 0 18px var(--clr-5);
}

@media only screen and (min-width: 600px) {
}

@media only screen and (min-width: 768px) {
  .container {
    grid-template-columns: repeat(2, auto);
  }
}

@media only screen and (min-width: 992px) {
  .container {
    grid-template-columns: repeat(2, auto);
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    grid-template-columns: repeat(4, auto);
  }
}
