:root {
  --clr-1: #4854a3;
  --clr-2: #2a3370;
  --clr-3: #74b5d6;
  --clr-4: #dbc0ad;
  --clr-5: #a35336;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(var(--clr-1), var(--clr-2));
}

.container {
  /* max-width: 50vw; */
  width: fit-content;
  min-height: 50vh;
  margin: auto;

  display: flex;
  gap: 0 1rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  border: solid 1px var(--clr-4);

  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr)); */
}

.mainpage-link {
  text-decoration: none;
  font-weight: 600;
  display: block;
  color: #fff;
  border-radius: 2rem;
  cursor: pointer;
  box-shadow: 0 0 4px var(--clr-5);
}

.link {
  text-decoration: none;
  font-weight: 600;
  display: block;
  background: var(--clr-5);
  color: #fff;
  padding: 1rem;
  border-radius: 2rem;
  cursor: pointer;
  transition: color 0.3s;
  box-shadow: 0 0 4px var(--clr-5);
}

.link:hover {
  color: var(--clr-2);
}
