.about-tutor {
  margin-top: 10%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.about-tutor-img {
  display: grid;
  place-items: center;
  position: relative;
  top: 0;
}
.about-tutor-img img {
  max-width: 100%;
}

.about-tutor-card {
  width: 60vw;
  height: 60vh;
  border: 1px solid black;
  display: grid;
  grid-template-columns: 40% auto;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 0.75rem;
  box-shadow: 0 0 20px 4px rgba(0, 0, 0, 0.46), 0 0 0 1px rgba(0, 0, 0, 0.3);
  color: white;
}

.about-tutor-details {
  padding: 1rem;
  overflow-wrap: break-word;
}

.about-tutor-details p {
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 0.05rem;
  font-family: "Source Code Pro", monospace;
  width: fit-content;
  border-bottom: 4px solid;
  border-image: linear-gradient(to left, var(--clr-4), var(--clr-3)) 1 0;
}

.about-tutor-details span {
  font-size: 1.05rem;
  font-weight: 400;
}

@media (max-width: 1200px) {
  .about-tutor-card {
    grid-template-columns: auto;
  }
  .about-tutor-img img {
    max-width: 30%;
  }
}
