.about-tutor {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.about-tutor-card {
  width: 65vw;
  min-height: 60vh;
  border: 1px solid black;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 0.75rem;
  box-shadow: 0 0 20px 4px rgba(0, 0, 0, 0.46), 0 0 0 1px rgba(0, 0, 0, 0.3);
  color: white;
  position: relative;
}

.about-tutor-details {
  padding: 1rem;
  overflow-wrap: break-word;
}

.about-tutor-details p {
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 0.05rem;
  font-family: "Source Code Pro", monospace;
  width: fit-content;
  border-bottom: 4px solid;
  border-image: linear-gradient(to left, var(--clr-4), var(--clr-3)) 1 0;
  margin-left: 5%;
}

.about-tutor-details span {
  font-size: 1.05rem;
  font-weight: 400;
}

.about-tutor-details img {
  width: 40%;
  float: left;
}

.back-to-tutors-button {
  position: absolute;
  top: 105%;
  left: 50%;

  width: fit-content;
  z-index: -1;
}

.link {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
  background: var(--clr-5);
  color: #fff;
  padding: 1rem;
  border-radius: 2rem;
  cursor: pointer;
  transition: color 0.3s;
  box-shadow: 0 0 4px var(--clr-5);
}

.link:hover {
  color: var(--clr-2);
}

.back-to-tutors-button:hover {
  z-index: 2;
}

@media only screen and (min-width: 600px) {
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 992px) {
  .about-tutor-card {
    width: 60vw;
  }
}

@media only screen and (min-width: 1200px) {
  .about-tutor-card {
    width: 55vw;
  }
}
