.about-tutor {
  /* width: 50vw; */
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;

  display: flex;
  align-items: center;
  gap: 2rem;
  flex-direction: column;
}

.about-tutor img {
  width: 30%;
}
